.body {
	background-color: #363636;
}

/*NAV*/
.nav {
	width: 100%;
	height: 80px;
	background: black;
	position: fixed;
	z-index: 9999;
}

.navdiv {
	color: white;
	float: left;
	margin-right: 100%;
	margin-top: -70px;
	font-family: 'Poppins', sans-serif;
	-webkit-animation: animation 0.8s;
	-webkit-animation-delay: animation 0.8s;
}
.navdiv ul {
	display: flex;
}
.navdiv ul li {
	list-style: none;
	margin-left: 30px;
}
.navdiv a {
	color: rgb(228, 228, 228);
	text-transform: uppercase;
}
.navdiv a:hover {
	color: #f90000;
}
.logo {
	float: left;
	margin-top: -3%;
	margin-left: 10%;
}

@keyframes animation2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes animation {
	0% {
		opacity: 0;
		margin-left: 100%;
	}
	100% {
		opacity: 1;
		margin-left: 0%;
	}
}
.arrow button {
	float: right;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 25px 0;
	margin-right: 15%;
	z-index: 999;
}

/*HOME*/
